.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px ;
    flex-direction: row;
    color: white;

}

.experience-section {
    padding: 4rem 2rem;
    background-color:  #0A192F;
    color: #333;

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .section-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;

        .icon {
            margin-right: 0.5rem;
            color: red;
        }
    }

    .experience-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .experience-card {
        background:  #0A192F;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 2rem;

        .company-name {
            font-size: 1.5rem;
            font-weight: bold;
            color: white;
        }

        .role {
            font-size: 1.2rem;
            margin: 0.5rem 0;
            color: white;
        }

        .duration {
            font-size: 1rem;
            color: white;
            margin-bottom: 1rem;
            color: white;
        }

        .responsibilities {
            list-style-type: disc;
            margin-left: 1.5rem;
            color: white;

            li {
                margin-bottom: 0.5rem;
            }
        }
    }
}
.experience-section {
    order: -1;
}

@media (max-width: 600px) {
    .projects-container {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .experience-section {
        padding: 2rem 1rem;
        text-align: center;

        .section-title {
            font-size: 1.5rem;
            flex-direction: column;
            align-items: center;

            .icon {
                margin-right: 0;
                margin-bottom: 0.5rem;
            }
        }

        .experience-list {
            gap: 1rem;
        }

        .experience-card {
            padding: 1rem;

            .company-name {
                font-size: 1rem;
            }

            .role {
                font-size: 0.9rem;
            }

            .duration {
                font-size: 0.8rem;
            }

            .responsibilities {
                margin-left: 1rem;

                li {
                    margin-bottom: 0.3rem;
                }
            }
        }
    }
}