.skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px ;
    margin-top: auto;
    flex-direction: column;
    margin-top: 5px !important;
    background-color: #0A192F ;
}

.skill-container > ul > li {
    background-color: gray;
    color: white;
}
